#blog-page .post__category {
    line-height: 1.2;
    margin: 1rem 0 0 0;
}

#blog-page .post__title {
    line-height: 1.2;
    margin: 0;
}

#blog-page .post__link {
    color: rgb(224, 99, 81);
    text-decoration: underline;
}

/* 
    SINGLE POST STYLES
*/

#single-page .post__category {
    margin: 1rem 0;
}

#single-page #categories-list {
    position: relative;
}

#single-page #categories-list .categories-list__container {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 3rem;
    width: auto;
}

#single-page #categories-list .categories-list__container h5 {
    text-decoration: underline;
}