footer {
    background: rgb(224, 99, 81);
    color: rgb(255, 255, 255);
    padding: 3rem 0 1rem 0;
}

footer hr {
    border-bottom: 2px solid rgb(255, 255, 255);
}

footer ul.menu, footer ul li {
    display: inline-block;
}

footer ul li a {
    text-decoration: underline !important;
}

footer a, footer h6 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    text-transform: uppercase;
}