/*
   BANNER STYLES
*/

#banner-container {
    background: rgba(158, 180, 200, 0.1);
    padding: 4rem 0.9375rem 0 0.9375rem;
}

#banner-title {
    color: rgb(224, 99, 81);
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 0.25rem;
    line-height: 0.9;
    text-transform: uppercase;
}

#banner-subtitle {
    color: rgb(224, 99, 81);
    font-size: 2rem;
    font-weight: 400;
    margin: 1.5rem 0 3rem 0;
}

/* 
    FAQ GRID STYLES
*/

#home_welcome-container {
    position: relative;
}

#home_welcome-container::before {
    background: rgba(158, 180, 200, 0.1);
    bottom: 50%;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
}

#home_welcome-grid {
    color: rgb(255, 255, 255);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px repeat(3, 204px);
    grid-template-areas: 
        ". . we we we"
        "f1 f1 we we we"
        "f1 f1 f2 f2 f2"
        "f1 f1 f2 f2 f2";
    /* max-width: 960px; */
    width: 100%;
}

#home_welcome-grid h3 {
    font-weight: 700;
}

#home_welcome-grid h4 {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

#home_welcome-grid h4::after {
    content: '';
    display: block;
    height: 4px;
    margin-top: 1.2rem;
    width: 2.5rem;
}

#home_welcome-grid p {
    font-size: 24px;
    line-height: 1.75;
}

#home_welcome-grid a {
    text-decoration: underline;
}

#home_welcome-grid #welcome_slogan-container,
#home_welcome-grid #faq1-container,
#home_welcome-grid #faq2-container {
    box-sizing: border-box;
    padding: 3rem 2rem;
}

#home_welcome-grid #welcome_slogan-container {
    color: rgb(68, 107, 145);
    grid-area: we;
}

#home_welcome-grid #faq1-container {
    background: rgb(68, 107, 145);
    grid-area: f1;
}

#home_welcome-grid #faq1-container .grid-y {
    height: 100%;
}

#home_welcome-grid #faq1-container .grid-y .cell:first-child {
    height: 40%;
}

#home_welcome-grid #faq1-container .grid-y .cell:nth-child(2) {
    height: 60%;
}

#home_welcome-grid #faq1-container h4::after {
    background: rgb(158, 180, 200);
}

#home_welcome-grid #faq2-container {
    background: rgb(158, 180, 200);
    grid-area: f2;
}

#home_welcome-grid #faq2-container .vertical-center,
#home_welcome-grid #faq1-container .cell:nth-child(2) .vertical-center {
    align-self: center;
}

#home_welcome-grid #faq2-container h4::after {
    background: rgb(68, 107, 145);
}

/* 
    TESTIMONIALS STYLES
*/

.container{
  width: 80%;
  min-height: 250px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;
  overflow: visible;
}

h6{
  color:#928566; 
  margin:0;
}

input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container .slider__buttons {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.container label{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    transition: border-color 0.3s linear;
    width: 15px;
}

.container label:nth-child(2) {
    margin: 0 10px;
}

blockquote{
  margin:0;
  padding:30px;
  position:relative;
  transition: background-color 0.6s linear;
}

#second:checked ~ .two blockquote {
  background-color: transparent;
}

.two blockquote:after{
  border: solid transparent; 
  border-top-color: rgb(224, 99, 81);
  border-left-color:rgb(224, 99, 81);
  border-width: 10px;
}
#third:checked ~ .three blockquote{
  background-color: transparent;
}
.three blockquote:after{
  border: solid transparent; 
  border-top-color: rgb(224, 99, 81);
  border-left-color: rgb(224, 99, 81);
  border-width: 10px;
}
.quotes{
  position:absolute;
  color:rgba(224, 99, 81,0.5);
  font-size:5em;
}
.leftq{
  top:-25px;
  left:-5px;
}
.rightq{
  bottom:-10px;
  right:5px;
}

.slide{
  position:absolute;
  left:-100%;
  opacity:0;
  transition: all 0.6s ease-in;
}

#first:checked ~ .slider__buttons label.first {
  background:rgb(224, 99, 81);
}
#second:checked ~ .slider__buttons label.second {
  background:rgb(224, 99, 81);
}
#third:checked ~ .slider__buttons label.third {
  background: rgb(224, 99, 81);
}

#first:checked ~ div.one {
  left:0;
  opacity:1;
}
#second:checked ~ div.two {
  left:0;
  opacity:1;
}
#third:checked ~ div.three {
  left:0;
  opacity:1;
}

#testimonials h2 {
    color: rgb(224, 99, 81);
    font-weight: 700;
}

#testimonials blockquote {
    border-left: none;
    color: rgb(224, 99, 81);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
}

@media only screen and (max-width: 860px) {
    #home_welcome-container {
        padding-left: 0;
        padding-right: 0;
    }

    #home_welcome-container .grid-container {
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    #home_welcome-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "we"
            "f1"
            "f2";
    }
}

@media only screen and (max-width: 770px) {
    .container .slider__buttons {
        bottom: -30px;
    }
}

@media only screen and (max-width: 660px) {
    .container .slider__buttons {
        bottom: -70px;
    }
}