header {
    background: rgba(158, 180, 200, 0.1);
    padding: 2rem 0;
}

header nav {
    border-bottom: #446b91 solid 2px;
}

header div.cell.large-2 {
    padding-top: 10px;
}

header .nav-logo {
    height: 26px;
}

header nav li a {
    color: #446b91;
    font-size: 18px;
    letter-spacing: 0.1rem;
    padding: 0.7em 1.4em 0.4em 0 !important;
    text-transform: uppercase;
}

header nav .large-9 li a {
    font-weight: 600;
}

header nav ul.align-right li a {
    padding: 0.7em 0.2em 0.4em 0.5em !important;
}

@media only screen and (max-width: 782px) {
    header nav.grid-x .medium-8 {
        width: 100%;
    }

    header nav.grid-x .show-for-medium {
        display: none;
    }
}

